<html ng-app="dashboardApp">

<head>
    <title>MASSIF UI</title>
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
    <script src="sensors/sensormapping.js"></script>
    <script src="dashboard.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="icons.css">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="An intuitive and user friendly user interface for managing Internet devices.">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/icon.png">
    <meta name="keywords" content="MASSIF, Aiolos, Dyamand, IoT, Internet of Things">
    <meta name="author" content="Pieter Bonte"> </head>

<body>
    <div class="site-wrapper" ng-controller="ListServiceController">
        <div class="site-wrapper-inner">
            <header class="navbar-fixed-top custom-navbar">
                <div class="inner">
                    <h3 class="masthead-brand">Your Internet of Things</h3> </div>
                <nav class='menu'>
                    <ul class="menu-nav">
                        <!--  <li><a href="#filter"><span class="icon-small icon-filter" onclick="showFilterDialog()"></span></a></li>-->
                        <li><a><span class="icon-small icon-menu" ng-click="addServiceDialog()"></span></a></li>
                        <li><a><span class="icon-small icon-stats3" ng-click="profileDialog()"></span></a></li>
                        <li ng-show="dianne"><a><span class="icon-small icon-dianne" ng-click="addServiceDialog()"></span></a></li>
                    </ul>
                </nav>
                <nav class='controls'>
                    <ul class="nav masthead-nav control-group">
                        <li><a ng-click="filters.location = undefined" ng-class="{active: filters.location === undefined}">All</a></li>
                        <li ng-repeat="(l, location) in locations"><a ng-click="filters.location = location" ng-class="{active: filters.location === location}">{{location}}</a></li>
                    </ul>
                </nav>
            </header>
            <div class="container">
                <div id="things" class="row" class="md-padding" id="popupContainer" ng-cloak>
                    <!--
<div ng-repeat="(id, thing) in things | mapFilter:filters| toArray | orderBy:'name'" on-longclick="dialog(thing.id)" on-click="action(thing.id)" on-doubleclick="update(thing.id)" id="de305d54-75b4-431b-adb2-eb6b9e546012" class="thing col-xs-12 col-sm-6 col-md-4 col-lg-3 ng-scope">
						<div class="row vertical-align">
							<div class="col-xs-6 icon icon-button up"></div>

							<div class="col-xs-6">
								<div ng-repeat="(name, val) in thing.state" class="state ng-binding ng-scope">UP</div>
							</div>
						</div>
						<div class="name ng-binding">Example Button</div>
					</div>

-->
                    <!--<h2>Active Services</h2>
		<div >
		 <span>{{services.length}} Services</span>-->
                    <div ng-repeat="(key, service) in services">
                        <!--<span> {{service.componentName}} </span> 
					<br/>
					<textarea rows="4" cols="50" ng-model="$parent.services[key].newQuery">Add Query...</textarea>
					<br/>
					<span>{{newQuery}}</span>
					<button ng-click="addQuery(key)">Add Query!</button>
					<br />
					<span>{{service.queries.length}} Active Queries</span>
					<div ng-repeat="query in service.queries">
						<span>{{query}}</span>
					</div>
					<br/>
					<textarea rows="4" cols="50" ng-model="$parent.services[key].newFilter">Add Filter...</textarea>
					<br/>
					<button ng-click="addFilter(key)">Add Filter!</button>
					<span>{{service.filterRules.length}} Registered Filter Rules</span>
					<div ng-repeat="filter in service.filterRules">
						<span>{{filter}}</span>
					</div>-->
                        <div class="thing col-xs-12 col-sm-6 col-md-4 col-lg-3 ng-scope" ng-href='#here' ng-click='showAlert($event,key)' ondblclick="showAlert($event)">
                            <div class="row vertical-align">
                                <div class="col-xs-6 icon  up"><img height="100" width="100" src="images/gear.svg" /></div>
                                <div class="col-xs-6">
                                    <div class="state ng-binding ng-scope">ACTIVE</div>
                                </div>
                            </div>
                            <div onclick="showAlert($event)" class="name ng-binding">{{service.componentName}}</div>
                        </div>
                        <!--</div>-->
                    </div>
                    <div ng-repeat="(key, sensor) in sensors">
                        <div class="thing col-xs-12 col-sm-6 col-md-4 col-lg-3 ng-scope" ng-href='#here' ng-click='showSensorInfo($event,key)' ondblclick="showSensorInfo($event)">
                            <div class="row vertical-align">
                                <div class="{{toIcon(key)}} "></div>
                                <div class="col-xs-6 ">
                                    <div ng-repeat="(name, val) in thing.state " class="state ng-binding ng-scope ">UP</div>
                                </div>
                            </div>
                            <div class="name ng-binding ">{{sensor.type}}</div>
                        </div>
                    </div>
                    <!--<div  id="de305d54-75b4-431b-adb2-eb6b9e546012 " class="thing col-xs-12 col-sm-6 col-md-4 col-lg-3 ng-scope ">
						<div class="row vertical-align ">
							<div class="col-xs-6 icon icon-button down "></div>

							<div class="col-xs-6 ">
								<div ng-repeat="(name, val) in thing.state " class="state ng-binding ng-scope ">DOWN</div>
							</div>
						</div>
						<div class="name ng-binding ">Seat 1</div>
					</div>
                   
              <div  id="de305d54-75b4-431b-adb2-eb6b9e546012 " class="thing col-xs-12 col-sm-6 col-md-4 col-lg-3 ng-scope ">
						<div class="row vertical-align ">
							<div class="col-xs-6 icon icon-button up "></div>

							<div class="col-xs-6 ">
								<div ng-repeat="(name, val) in thing.state " class="state ng-binding ng-scope ">DOWN</div>
							</div>
						</div>
						<div class="name ng-binding ">Seat 2</div>
					</div>
                
                <div  id="de305d54-75b4-431b-adb2-eb6b9e546023 " class="thing col-xs-12 col-sm-6 col-md-4 col-lg-3 ng-scope ">
						<div class="row vertical-align ">
							<div class="col-xs-6 icon icon-lamp off "></div>

							<div class="col-xs-6 ">
								<div ng-repeat="(name, val) in thing.state " class="state ng-binding ng-scope ">#ff0000</div><div ng-repeat="(name, val) in thing.state " class="state ng-binding ng-scope ">100</div><div ng-repeat="(name, val) in thing.state " class="state ng-binding ng-scope ">OFF</div>
							</div>
						</div>
						<div class="name ng-binding ">Office Lamp</div>
					</div>
                <div  id="de305d54-75b4-431b-adb2-eb6b9e546023 " class="thing col-xs-12 col-sm-6 col-md-4 col-lg-3 ng-scope ">
						<div class="row vertical-align ">
							<div class="col-xs-6 icon icon-lamp on "></div>

							<div class="col-xs-6 ">
								<div ng-repeat="(name, val) in thing.state " class="state ng-binding ng-scope ">#ff0000</div><div ng-repeat="(name, val) in thing.state " class="state ng-binding ng-scope ">100</div><div ng-repeat="(name, val) in thing.state " class="state ng-binding ng-scope ">OFF</div>
							</div>
						</div>
						<div class="name ng-binding ">Hallway Lamp</div>
					</div>
                 <div  id="de305d54-75b4-431b-adb2-eb6b9e546023 " class="thing col-xs-12 col-sm-6 col-md-4 col-lg-3 ng-scope ">
						<div class="row vertical-align ">
							<div class="col-xs-6 icon icon-locked up "></div>

							<div class="col-xs-6 ">
								<div ng-repeat="(name, val) in thing.state " class="state ng-binding ng-scope ">#ff0000</div><div ng-repeat="(name, val) in thing.state " class="state ng-binding ng-scope ">100</div><div ng-repeat="(name, val) in thing.state " class="state ng-binding ng-scope ">OFF</div>
							</div>
						</div>
						<div class="name ng-binding ">Door Lock</div>
					</div>
                 <div  id="de305d54-75b4-431b-adb2-eb6b9e546023 " class="thing col-xs-12 col-sm-6 col-md-4 col-lg-3 ng-scope ">
						<div class="row vertical-align ">
							<div class="col-xs-6 icon icon-contact down "></div>

							<div class="col-xs-6 ">
								<div ng-repeat="(name, val) in thing.state " class="state ng-binding ng-scope ">#ff0000</div><div ng-repeat="(name, val) in thing.state " class="state ng-binding ng-scope ">100</div><div ng-repeat="(name, val) in thing.state " class="state ng-binding ng-scope ">OFF</div>
							</div>
						</div>
						<div class="name ng-binding ">Window</div>
					</div>
                 <div  id="de305d54-75b4-431b-adb2-eb6b9e546023 " class="thing col-xs-12 col-sm-6 col-md-4 col-lg-3 ng-scope ">
						<div class="row vertical-align ">
							<div class="col-xs-6 icon icon-motion up "></div>

							<div class="col-xs-6 ">
								<div ng-repeat="(name, val) in thing.state " class="state ng-binding ng-scope ">#ff0000</div><div ng-repeat="(name, val) in thing.state " class="state ng-binding ng-scope ">100</div><div ng-repeat="(name, val) in thing.state " class="state ng-binding ng-scope ">OFF</div>
							</div>
						</div>
						<div class="name ng-binding ">Motion Office</div>
					</div>
                <div  id="de305d54-75b4-431b-adb2-eb6b9e546023 " class="thing col-xs-12 col-sm-6 col-md-4 col-lg-3 ng-scope ">
						<div class="row vertical-align ">
							<div class="col-xs-6 icon icon-motion on "></div>

							<div class="col-xs-6 ">
								<div ng-repeat="(name, val) in thing.state " class="state ng-binding ng-scope ">#ff0000</div><div ng-repeat="(name, val) in thing.state " class="state ng-binding ng-scope ">100</div><div ng-repeat="(name, val) in thing.state " class="state ng-binding ng-scope ">OFF</div>
							</div>
						</div>
						<div class="name ng-binding ">Motion Hallway</div>
					</div>
                 <div  id="de305d54-75b4-431b-adb2-eb6b9e546023 " class="thing col-xs-12 col-sm-6 col-md-4 col-lg-3 ng-scope ">
						<div class="row vertical-align ">
							<div class="col-xs-6 icon icon-person on "></div>

							<div class="col-xs-6 ">
								<div ng-repeat="(name, val) in thing.state " class="state ng-binding ng-scope ">#ff0000</div><div ng-repeat="(name, val) in thing.state " class="state ng-binding ng-scope ">100</div><div ng-repeat="(name, val) in thing.state " class="state ng-binding ng-scope ">OFF</div>
							</div>
						</div>
						<div class="name ng-binding ">Presence Office</div>
					</div>
                  <div  id="de305d54-75b4-431b-adb2-eb6b9e546023 " class="thing col-xs-12 col-sm-6 col-md-4 col-lg-3 ng-scope ">
						<div class="row vertical-align ">
							<div class="col-xs-6 icon icon-person on "></div>

							<div class="col-xs-6 ">
								<div ng-repeat="(name, val) in thing.state " class="state ng-binding ng-scope ">#ff0000</div><div ng-repeat="(name, val) in thing.state " class="state ng-binding ng-scope ">100</div><div ng-repeat="(name, val) in thing.state " class="state ng-binding ng-scope ">OFF</div>
							</div>
						</div>
						<div class="name ng-binding ">Presence Hallway</div>
					</div>
           --></div>
            </div>
            <footer class="navbar-fixed-bottom custom-footer "> <img class="footer-image " src="images/iminds_white.png " />
                <div class="inner ">
                    <p>&copy; iMinds IoT Lab, 2016 </p>
                </div>
            </footer>
        </div>
    </div>
</body>

</html>